<?xml version="1.0"?>
<config>
    <modules>
        <StuntCoders_FormAntiBot>
            <version>0.1.0</version>
        </StuntCoders_FormAntiBot>
    </modules>
    <global>
        <models>
            <stuntcoders_formantibot>
                <class>StuntCoders_FormAntiBot_Model</class>
                <resourceModel>stuntcoders_formantibot_resource</resourceModel>
            </stuntcoders_formantibot>
            <stuntcoders_formantibot_resource>
                <class>StuntCoders_FormAntiBot_Model_Resource</class>
            </stuntcoders_formantibot_resource>
        </models>
        <blocks>
            <stuntcoders_formantibot>
                <class>StuntCoders_FormAntiBot_Block</class>
            </stuntcoders_formantibot>
        </blocks>
        <helpers>
            <stuntcoders_formantibot>
                <class>StuntCoders_FormAntiBot_Helper</class>
            </stuntcoders_formantibot>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_formantibot>
                    <file>stuntcoders/formantibot.xml</file>
                </stuntcoders_formantibot>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <stuntcoders_formantibot>
                        <class>stuntcoders_formantibot/observer</class>
                        <method>checkCustomerRegistrationField</method>
                    </stuntcoders_formantibot>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
        </events>
    </frontend>
</config>